
<div class="sparkswell"><a class="sparkswell__site" href="#">www.sparkswell.com</a></div>
<header class="header">
  <div class="header__button"><span></span><span></span><span></span></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div class="logo">
          <p class="logo__name">Logo</p>
        </div>
      </div>
      <div class="col-sm-10 d-flex align-item-center justify-content-end">
        <nav class="navigate navigate--desktop">
          <ul class="navigate__box">
            <li class="navigate__item"><a class="button" href="#">Home</a></li>
            <li class="navigate__item"><a class="button" href="#">Explore</a></li>
            <li class="navigate__item"><a class="button" href="#">My Campaigns</a></li>
          </ul>
          <div class="navigate__person"><img src="img/face.png" alt="Face"/></div>
        </nav>
      </div>
    </div>
  </div>
</header>