
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="logo">
          <p class="logo__name">Logo</p>
        </div>
      </div>
      <div class="col-10 d-flex align-item-center justify-content-end">
        <nav class="navigate">
          <ul class="navigate__box">
            <li class="navigate__item"><a class="button" href="#">Home</a></li>
            <li class="navigate__item"><a class="button" href="#">Explore</a></li>
            <li class="navigate__item"><a class="button" href="#">My Campaigns</a></li>
          </ul>
          <div class="navigate__person"><img src="img/face.png" alt="Face"/></div>
        </nav>
      </div>
    </div>
  </div>
</header>