section.education
    .container
        .row
            .col
                h1.education__title Improving Education in 2020
        .row
            .col-lg-8
                .education__img
                    img(src="img/main.png", alt="Main")
                .education__info.mobile
                    .bingo
                        .bingo__person
                            h4.bingo__name Tyrone Fairfield
                            p.bingo__info 2020 Board of Education, Southwest City Schools District, OH
                        .bingo__time
                            p.bingo__timeName Election Day:
                            p.bingo__day Nov 2nd, 2020
                            p.bingo__past 26 days to go
                    .money
                        h2.money__cash $25,324.56
                        p.money__count from 25 donations
                        .money__progress
                            .money__equalize
                        .money__info
                            p.money__up Goal: $40,000
                            p.money__duration 10 days to go
                    .education__buttons
                        button.education__button.button Donate
                        .education__blockButtons
                            button.education__button.button.button--double + Follow
                            button.education__button.button.button--double Volunteer
                    .event
                        .event__name
                            h4.event__title Upcoming Events
                            a.event__button.button View all
                        .event__info
                            .event__day
                                p.event__day--name MON
                                p.event__day--number 24
                            .event__time
                                p.event__descript Main Street Meet and Greet
                                .event__clock
                                    img.event__img(src="img/time.png", alt="Clock") 
                                    p 10:00 AM - 11:00 AM
                                .event__adress 
                                    img.event__img(src="img/pin.png", alt="Clock")
                                    p 125 Main St., Cherrytown, OH
                .desctiption
                    ul.desctiption__nav
                        li.desctiption__link.active About
                        li.desctiption__link Updates
                        li.desctiption__link Supporters
                    .desctiption__content.active
                        h4.desctiption__title Background
                        p.desctiption__text In 2016 state representative elections, 42% of all candidates faced no major party opponents. Filing to even run for local office is difficult. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.
                    .desctiption__content
                        h4.desctiption__title Ground
                        p.desctiption__text Filing to even run for local office is difficult. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.
                    .desctiption__content
                        h4.desctiption__title Back
                        p.desctiption__text In 2016 state representative elections, 42% of all candidates faced no major party opponents. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.                              
                .platform
                    h4.desctiption__title Platform
                    .platform__section
                        h6.platform__name The issues
                        ul.platform__items
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Civil liberties
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Campaign finance
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Criminal justic reform
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Crime
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Drugs
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Economy
                    .platform__section
                        h6.platform__name Organizations i support
                        ul.platform__items
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") ACLU
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") Action Institute for the Study of Religion and Liberty
                            li.plarform__elem
                                a.platform__link.button.button--double(href="#") American Foundation for Suicide Prevention
            .col-lg-4
                .education__info.desktop
                    .bingo
                        .bingo__person
                            h4.bingo__name Tyrone Fairfield
                            p.bingo__info 2020 Board of Education, Southwest City Schools District, OH
                        .bingo__time
                            p.bingo__timeName Election Day:
                            p.bingo__day Nov 2nd, 2020
                            p.bingo__past 26 days to go
                    .money
                        h2.money__cash $
                            span 25,324.56
                        p.money__count from 25 donations
                        .money__progress
                            .money__equalize
                        .money__info
                            p.money__up Goal: $ 
                                span 40,000
                            p.money__duration 10 days to go
                    .education__buttons
                        button.education__button.button Donate
                        .education__blockButtons
                            button.education__button.button.button--double + Follow
                            button.education__button.button.button--double Volunteer
                    .event
                        .event__name
                            h4.event__title Upcoming Events
                            a.event__button.button View all
                        .event__info
                            .event__day
                                p.event__day--name MON
                                p.event__day--number 24
                            .event__time
                                p.event__descript Main Street Meet and Greet
                                .event__clock
                                    img.event__img(src="img/time.png", alt="Clock") 
                                    p 10:00 AM - 11:00 AM
                                .event__adress 
                                    img.event__img(src="img/pin.png", alt="Clock")
                                    p 125 Main St., Cherrytown, OH