section.education
    .container
        .row
            .col
                h1.education__title Improving Education in 2020
        .row
            .col-8
                .education__img
                    img(src="img/main.png", alt="Main")
            .col-4
                .education__info
                    .bingo
                        .bingo__person
                            h4.bingo__name Tyrone Fairfield
                            p.bingo__info 2020 Board of Education, Southwest City Schools District, OH
                        .bingo__time
                            p.bingo__timeName Election Day:
                            p.bingo__day Nov 2nd, 2020
                            p.bingo__past 26 days to go
                    .money
                        h2.money__cash $25,324.56
                        p.money__count from 25 donations
                        .money__progress
                            .money__equalize
                        .money__info
                            p.money__up Goal: $40,000
                            p.money__duration 10 days to go
                    .education__buttons
                        button.education__button.button Donate
                        .education__blockButtons
                            button.education__button.button.button--double + Follow
                            button.education__button.button.button--double Volunteer