doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Campaign
	body

		//HEADER
		include layout/header.pug

		//MAIN
		include layout/main.pug

		//FOOTER
		include layout/footer.pug
		
		//SCRIPT
		include layout/scripts.pug



	
	