header.header
    .container
        .row
            .col-2
                .logo
                    p.logo__name Logo
            .col-10.d-flex.align-item-center.justify-content-end
                nav.navigate
                    ul.navigate__box
                        li.navigate__item
                            a.button(href="#") Home
                        li.navigate__item
                            a.button(href="#") Explore
                        li.navigate__item
                            a.button(href="#") My Campaigns
                    .navigate__person
                        img(src="img/face.png", alt="Face")