
<section class="education">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="education__title">Improving Education in 2020</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="education__img"><img src="img/main.png" alt="Main"/></div>
        <div class="desctiption">
          <ul class="desctiption__nav">
            <li class="desctiption__link active">About</li>
            <li class="desctiption__link">Updates</li>
            <li class="desctiption__link">Supporters</li>
          </ul>
          <div class="desctiption__content active">
            <h4 class="desctiption__title">Background</h4>
            <p class="desctiption__text">In 2016 state representative elections, 42% of all candidates faced no major party opponents. Filing to even run for local office is difficult. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.</p>
          </div>
          <div class="desctiption__content">
            <h4 class="desctiption__title">Ground</h4>
            <p class="desctiption__text">Filing to even run for local office is difficult. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.</p>
          </div>
          <div class="desctiption__content">
            <h4 class="desctiption__title">Back</h4>
            <p class="desctiption__text">In 2016 state representative elections, 42% of all candidates faced no major party opponents. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.                              </p>
          </div>
        </div>
        <div class="platform">
          <h4 class="desctiption__title">Platform</h4>
          <div class="platform__section">
            <h6 class="platform__name">The issues</h6>
            <ul class="platform__items">
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Civil liberties</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Campaign finance</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Criminal justic reform</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Crime</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Drugs</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Economy</a></li>
            </ul>
          </div>
          <div class="platform__section">
            <h6 class="platform__name">Organizations i support</h6>
            <ul class="platform__items">
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">ACLU</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">Action Institute for the Study of Religion and Liberty</a></li>
              <li class="plarform__elem"><a class="platform__link button button--double" href="#">American Foundation for Suicide Prevention</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="education__info">
          <div class="bingo">
            <div class="bingo__person">
              <h4 class="bingo__name">Tyrone Fairfield</h4>
              <p class="bingo__info">2020 Board of Education, Southwest City Schools District, OH</p>
            </div>
            <div class="bingo__time">
              <p class="bingo__timeName">Election Day:</p>
              <p class="bingo__day">Nov 2nd, 2020</p>
              <p class="bingo__past">26 days to go</p>
            </div>
          </div>
          <div class="money">
            <h2 class="money__cash">$25,324.56</h2>
            <p class="money__count">from 25 donations</p>
            <div class="money__progress">
              <div class="money__equalize"></div>
            </div>
            <div class="money__info">
              <p class="money__up">Goal: $40,000</p>
              <p class="money__duration">10 days to go</p>
            </div>
          </div>
          <div class="education__buttons">
            <button class="education__button button">Donate</button>
            <div class="education__blockButtons">
              <button class="education__button button button--double">+ Follow</button>
              <button class="education__button button button--double">Volunteer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>